// Colors
$maincolor: #373e42;
$hovercolor: #4e8839;
$errorcolor: #e44845;
$whitecolor: #fff;
$hoverlinkcolor: #6da3bd;
$bgcolor: #6c9c5a;
$usercolor: #122620;
$footercolor: #81aa70;
$skillcolor: #dfdcd5;
$aboutleft: #ebefe2;
$aboutright: #f8f9f5;
$trianglecolor: #faf8f0;
$headercolor: #93c42e;
$blogfont: #455a64;
$skillscolor:#566358;
$menucolor: #608e54;
$workcolor: #e1e4d7;
// Fonts
$mainfont: robotoregular;
$accentfont: robotomedium;
$headerfont: sansus_webissimoregular;
$footerfont:robotolight;
$menufont:robotobold;
$footercitefont:robotolight_italic;
$footerciteauthfont:robotobold_italic;
//font size
$mainsize: 16px;
$skill_size: 14px;
$headersize:63px;
$subheadersize: 40px;
$blockheadersize: 35px;
$skillsize: 28px;